<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>name={{name}}</p>
    <p>age={{age}}</p>
    <p>my_dict: city={{my_dict.city}}</p>
    <p>my_dict: city={{my_dict["city"]}}</p>
    <p>my_list={{my_list}}</p>
    <p>my_list2={{my_list[my_int]}}</p>
    <p>my_list3={{my_list[0]}}</p>
    <p>my_list3={{my_list}}</p>
    <p>my_list4={{my_list[0]+my_list[1]}}</p>
    <p>my_int={{my_int}}</p>
    <p>str_my={{"hello"+" hello"}}</p>
    <p>a{{"    flask      " | trim | upper}}a</p>
    <hr/>
    <p>{{my_list | li2}}</p>
    <p>{{my_list | li3}}</p>

</body>
</html>